body {
	display: flex;
	font-family: Arial;
	font-size: 18px;
}

main {
	display: flex;
}

body {
	flex-direction: column;
	font-family: Arial;
	font-size: 16px;
}

main {
	flex-direction: row;
	flex: auto ;
}

article {
	flex: 2;
	overflow-y: auto;
	background-image: url('https://image.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

aside {
	flex:1;
	overflow-y: auto;
	background-color: #0086FC;
	
}

header .active_page {
	background-color: #A72407;
	
}

header {
	background-color: #F96D00 ;
}

body {
	background-color: #D1CCC9;
}

footer {
	background-color: #F96D00;
	font-weight: bold;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-family: cursive;
	font-weight: bolder;
	text-align: center;
}


p {
	text-align: justify;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #5DADE2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

li :hover {
 color: #7eb9be;
 }


.fcf-body {
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    color: #0000ff;
    text-align: left;
}


.footer-sec{
	font-family: Arial;
	font-size: 1rem;
	font-weight: 400;
	color: #0000ff;
	text-align: center;
	
}


.centered {
	text-align: center;
	flex-direction: column;
}

.justified {
	text-align: justify;
	flex-direction: column;
}

.inline img {
	border: 0; 
	display:inline; 
	margin: 0 0 -3px -5px; 
	box-shadow: none; 
	object-fit: cover; 
	width:30px;
	height:18px;
}

.banner {
	width: 100%;
}

.banner img{
	width: 100%;
}

.change {
  height: 200px;
  max-width: 250px;
  padding: 10px;
  object-fit: cover;
  flex: 1 auto;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.caption {
	font-weight: bold;
}

.rounded{
	text-align: center;
}

.rounded img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}



@media screen and (max-width: 5400px) {
  header {
  	text-align: center;
  	
  }
 }
 
 
/* Style all font awesome icons */
/*.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: right;
}*/

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
 
}



